<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>BMHANNAPro.ttf</string>
		<string>BMDOHYEON_otf.otf</string>
		<string>BMJUA_otf.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>YdestreetL.otf</string>
		<string>UTOIMAGE_유토이미지고딕_R_OTF.otf</string>
		<string>NotoSansCJKkr-Regular.otf</string>
	</array>
</dict>
</plist>
